body{
    width:900px;
    margin:0px auto;
    font-family: Verdana, sans-serif;
    font-size:10pt;
    color:#444;

}

h1{
    color:#444;
    font-size:27pt;
    margin:10px 0;
}

h1 .pink{
    color:#0073ea;
}

h2{
    text-align:left;
    margin:10px 0;
}

#nav{
    padding-top:40px;
    width:150px;
    float:left;

}

#header{
    width:100%;
    position:relative;
    overflow:auto;
}


#topnav{
    position:absolute;
    top:10px;
    right:10px;
}


#module-template{
    width:750px;
    float:left;
    margin-top:10px;
}

#nav ul{
    padding:0px;
    margin:10px 0;
    list-style-type:none;
}

    
#nav ul li{
    padding:0px;
    margin:10px 0;

}


#userSearchInput{
    width:250px;
}

#visualization{
    min-height:350px;
    margin-top:10px;
}

#userDetail .iconwrapper img{
    width:48px;
    height:48px;
    overflow:hidden;
}
#userDetail .iconwrapper{
    float:left;
    margin:10px 15px;
    height:100px;
}


.topbuttons{
    text-align:right;
    clear:both;
    padding:10px 0;
}

a img{
    border-width:0px;
}

#tagDetail{
    margin-top:20px;
    padding-bottom:20px;
}
#tagDetail h2{
    clear:both;
}

#tagDetail .photo{
    margin:10px 10px 0 0;
    float:left;
    width:75px;
    height:75px;
}


.loading-widget{
    height:75px;
    background-color:#eee;
    position:relative;
    width:400px;
    margin:10px auto;
    border-radius:5px;
}

.loading-widget p{
    position:absolute;
    top:17px;
    left:20px;
}

.loading-widget img{
    position:absolute;
    top:22px;
    right:20px;
}
